/* ==========================================================================
Buttons & icons
========================================================================== */
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 12px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.social-icons .fa {
  color: #fff;
}

.icon-rotate {
  border: 1px solid #EEE;
  background: none;
  background-color: transparent;
  font-weight: bold;
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}

.icon-rotate:hover, .icon-rotate.selected {
  background: #FFF;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

.btn-green {
  background-color: #55a996;
  color: #fff;
}

.btn-twitter:hover, .btn-twitter:hover * {
  color: #2BA9E0 !important;
}

.btn-facebook:hover, .btn-facebook:hover * {
  color: #204385 !important;
}

.btn-dribbble:hover, .btn-dribbble:hover * {
  color: #D92C85 !important;
}

.btn-instagram:hover, .btn-instagram:hover * {
  color: #CD486B !important;
}

.btn-linkedin:hover, .btn-linkedin:hover * {
  color: #015786 !important;
}

.btn-pinterest:hover, .btn-pinterest:hover * {
  color: #CA2128 !important;
}

.btn-google:hover, .btn-google:hover * {
  color: #D3492C !important;
}

.btn-github:hover, .btn-github:hover *{
  color: #333333 !important;
}

.btn-tumblr:hover, .btn-tumblr:hover *{
  color: #35465c !important;
}

.btn {
  color: #fff;
  position: relative;
  padding: 13px 35px;
  border-radius: 0px;
  font-size: 12px;
  font-weight: 600;
  outline: none !important;
  font-family: 'Roboto', sans-serif;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
  margin-right: 5px;
  margin-bottom: 7px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn i {
  position: absolute;
  left: 0px;
  top: 15px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.btn.btn-dark-green i {
  color: #fff;
}

.btn.btn-white-green i {
  color: #5FE2D1;
}

.btn.btn-white-red.reverse i {
  color: #fff;
}

.btn.btn-white-green, .btn.btn-dark-green {
  background-color: #5FE2D1;
  color: #FFF;
  border-color: #5FE2D1;
}

.btn.btn-outline-green, {
  color: #FFF;
  border-color: #FFF;
}

.btn.btn-dark-green:hover {
  color: #fff;
  background-color: #202532;
  border-color: #202532;
}

.btn.btn-white-green:hover {
  color: #5FE2D1;
  background-color: #fff;
  border-color: #fff;
}

.btn.btn-outline-green:hover {
  color: #FFF;
  background-color: #5FE2D1;
  border-color: #5FE2D1;
}

.btn.btn-dark-green.reverse {
  background-color: #202532;
  border-color: #202532;
  color: #fff;
}

.btn.btn-white-green.reverse {
  background-color: #fff;
  border-color: #fff;
  color: #5FE2D1;
}

.btn.btn-outline-green.reverse {
  background-color: transparent;
  border-color: #FFF;
  color: #FFF;
}

.btn.btn-dark-green.reverse:hover {
  color: #fff;
  background-color: #5FE2D1;
  border-color: #5FE2D1;
}

.btn.btn-white-green.reverse:hover {
  color: #fff;
  background-color: #5FE2D1;
  border-color: #5FE2D1;
}

.btn.btn-outline-green.reverse:hover {
  color: #fff;
  background-color: #5FE2D1;
  border-color: #5FE2D1;
}

.btn:hover {
  padding-left: 50px;
  padding-right: 20px;
}

.btn:hover i {
  opacity: 1;
  filter: alpha(opacity=100);
  left: 20px;
}

.btn.btn-default.browse-more {
  margin-top: 55px;
  border-color: #444c5c;
  color: #444c5c;
}

.btn.btn-default.browse-more:hover, .btn.btn-default.browse-more:active {
  background: #fff;
  border-color: #55a996;
  color: fff;
}