/* green - #55a996 */
a:link,a:visited,.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,a:hover,a:active,.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	color: #55a996;
}

.spacer,.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: #87c4b6;
}

#grid .mix .overlay {
	background: #87c4b6;
}

.btn.btn-default:hover,
.btn.btn-default:active {
    color: #55a996;
}
