/* Nav */
nav {
  background-color: $clr-light;
  padding: 1rem 1.5rem;
  z-index: 2;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $clr-light;
  box-shadow: $light-shadow;

  .links a {
    color: $clr-grey-1;

    &:hover {
      color: $clr-secondary;
    }
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  color: $clr-grey-1;
  border-color: transparent;
  cursor: pointer;
  transition: $transition;

  &:hover {
    color: $clr-secondary;
  }
}

.logo {
  height: 50px;
  border-radius: 50%;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: $transition;
}

.links a {
  display: block;
  background-color: $clr-light;
  color: $clr-grey-5;
  padding: 0.75rem 0;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: $spacing;
  text-transform: capitalize;
  transition: $transition;

  &:hover {
    color: $clr-grey-1;
  }
}

// Home
header {
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url('../img/bg.jpg') no-repeat center right/cover;
}

.showcase {
  min-height: 91.5vh;
  display: grid;
  place-items: center;
  text-align: center;
}

.container {
  h1 {
    color: $clr-light;
    // text-transform: uppercase;

    span {
      color: $clr-secondary;
    }
  }

  p {
    color: $clr-light;
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
  }
}

.section__title {
  h2 {
    text-align: center;
    text-transform: uppercase;
  }

  span {
    color: $clr-secondary;
  }
}

#about,
#projects,
#contact {
  // height: 80vh;
  margin: 2rem auto;
  padding: 3rem;
  text-align: center;
}

/* Projects */
#projects {
  background-color: $clr-grey-1;
  color: $clr-light;
  h2 {
    margin-bottom: 2rem;
  }
}

.projects-container {
  max-width: $width-website;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 1rem;
  align-items: stretch;
}

.project {
  max-width: 100%;
  transition: transform 0.3s ease;
  margin-bottom: 3rem;

  &:hover {
    transform: scale(1.06);
  }

  a {
    h3 {
      // font-size: 2.5rem;
      color: $clr-light;
      margin-bottom: 1.5rem;
    }
  }
}

/* Contact */
#contact {
  padding: 3rem 2rem;
  h2 {
    margin-bottom: 1rem;
  }
  .contact__list {
    display: flex;
    justify-content: space-around;

    li {
      margin: 2rem 1rem;
      font-size: 2rem;
    }

    a {
      color: $clr-grey-5;

      .fa-envelope:hover {
        color: $clr-secondary;
        // color: #9ad2e9;
      }

      .fa-github:hover {
        color: #333;
      }

      .fa-linkedin:hover {
        color: #2867b2;
      }

      .fa-twitter:hover {
        color: #1da1f2;
      }

      .fa-instagram:hover {
        color: #ff0000;
      }

      .fa-facebook:hover {
        color: #1877f2;
      }
    }
  }
}

footer {
  background-color: $clr-grey-1;
  padding: 3rem;

  p {
    color: $clr-light;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: $spacing;
  }

  a {
    color: $clr-secondary;

    &:hover {
      color: $clr-grey-5;
    }
  }
}

@include mq(tablet) {
  .container {
    p {
      max-width: 40rem;
    }
  }

  nav {
    background-color: transparent;
  }

  .nav-center {
    width: 90vw;
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links-container {
    height: auto !important;
  }

  .links {
    display: flex;

    a {
      display: block;
      background-color: transparent;
      color: $clr-light;
      font-size: 1.1rem;
      font-weight: 700;
      letter-spacing: $spacing;
      text-transform: capitalize;
      margin: 0 1rem;
      padding: 0;
      transition: $transition;
    }
  }

  #about,
  #projects {
    padding: 6rem;
  }

  #about {
    max-width: $width-website;
    margin: 0 auto;

    p {
      text-align: justify;
    }
  }

  #contact {
    max-width: $width-website;

    .contact__list {
      justify-content: center;

      li {
        margin: 2rem 3rem;
        font-size: 2.5rem;
      }
    }
  }
}
